<<<<<<< HEAD

=======
>>>>>>> 5bacd5c018cd09ee18380d85e9888b9b3d66997c
.SideButtons{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 10%;
    height: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    border-right: 1px solid #e0e0e0;
    position: fixed;
    left: 0;
    top: 0;
<<<<<<< HEAD
=======


>>>>>>> 5bacd5c018cd09ee18380d85e9888b9b3d66997c
}