.student-homepage {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .calendar-section {
    flex: 1; 
    max-width: 55%;
    text-align: center;
    align-items: center;
  }
  
  .react-calendar {
    margin-left: 210px;
    width: 600px; 
    height: 550px; 
    background: #1C1C1C;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .calendar-legend{
    margin-left: 210px;
    width: 600px; 
    background: #1C1C1C;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    color: white;
    border: none;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .legend-color {
    width: 12px;
    height: 12px;
    border-radius: 50%; /* Makes it a circle */
    display: inline-block;
    margin-right: 10px;
  }
  
  .legend-color.quiz{
    background-color:#f1cb0c ;
  }
  .legend-color.assignment{
    background-color:#0073e6 ;
  }
  .legend-color.exam{
    background-color:#DC3545 ;
  }
  .legend-color.today{
    background-color:#44e35c ;
  }
  
  
   /* Change navigation button colors */
  .react-calendar__navigation button {
    color: rgb(38, 31, 31);
    background: #D3D3D3;
    border: none;
    font-size: 18px;
    padding: 10px;
    height: 55px;
    border-radius: 5px;
    margin: 5px;
  }
  
  .react-calendar__navigation button:hover {
    background: #1A2E45;
  }
  
  /*days*/
  .react-calendar__tile {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    height: 60px;
    width: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .react-calendar__tile:hover {
    background-color: #f3f3f3;
  }
  
  .react-calendar__tile--now {
    background: #44e35c !important;
    color: white !important;
    font-weight: bold;
    border-radius: 5px;
    border-radius: 50%;
  }
  
  .react-calendar__tile.highlight-exam {
    background-color: #DC3545 !important;
    color: white;
    font-weight: bold;
  }
  
  .react-calendar__tile.highlight-quiz {
    background-color: #f1cb0c !important;
    color: white;
    font-weight: bold;
  }
  
  .react-calendar__tile.highlight-assignment {
    background-color: #0073e6 !important;
    color: white;
    font-weight: bold;
  }
  
  .react-calendar__month-view__weekdays {
    color: white !important;  
    font-weight: bold;
    background-color: #1c1c1c; 
    padding: 10px 0; 
    border-radius: 5px;
  }
  
  
  .tasks-section {
    flex: 1; 
    max-width: 40%;
    text-align: left;
  }
  
  .task-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .task-card {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(61, 49, 49);
    height: 110px;
    margin-right: 100px  ;
    position: relative;
  }
  
  .enroll {
    position: absolute; /* This will position the button inside the task card */
    bottom: 10px; /* Distance from the bottom of the card */
    right: 10px;  /* Distance from the right side of the card */
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:100px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  
  .enroll:hover {
    background-color: #45a049; /* Slightly darker green on hover */
  }
  
  
  .task-card-quiz{
    background: #ffcc00;
    border-radius: 30px;
    width: 200px;
    margin-left: 5px;
    padding: 5px;
  }
  .task-card-assignment{
    background: #0073e6;
    border-radius: 30px;
    width: 200px;
    margin-left: 5px;
    padding: 5px;
  }
  .task-card-exam{
    background: #ff5733;
    border-radius: 30px;
    width: 200px;
    margin-left: 5px;
    padding: 5px;
  }
  
  .task-card p {
    margin-bottom: 5px; 
  }
  
  .task-card:hover{
    transform: scale(1.06);
    box-shadow: 2px 2px 10px rgb(61, 49, 49);
    transition: 0.3s;
  }
  .ongoing-tasks-title,.event-cal{
    color: #1A2E45;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  .react-calendar .highlight-quiz {
    background-color: #ffcc00 !important;
    border-radius: 50%;
    color: white;
  }
  
  .react-calendar .highlight-exam {
    background-color: #ff5733 !important;
    border-radius: 50%;
    color: white;
  }
  
  .react-calendar .highlight-assignment {
    background-color: #0073e6 !important;
    border-radius: 50%;
    color: white;
  }
  